<!--# 
layout("/layout/front.html"){ 
 #-->
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">控制台</h3>
	</div>
	<div class="panel-body">
		<h3>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<span class="label label-primary">托管资源 <span class="badge">42</span></span>
				</div>
				<div class="col-lg-3 col-md-6">
					<span class="label label-success">数据库 <span class="badge">42</span></span>
				</div>
				<div class="col-lg-3 col-md-6">
					<span class="label label-info">应用服务 <span class="badge">42</span></span>
				</div>
				<div class="col-lg-3 col-md-6">
					<span class="label label-warning">Ftp服务 <span class="badge">42</span></span>
				</div>
			</div>
		</h3>
	</div>
</div>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">本机状态</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12" id="bar-chart"></div>
			<div class="col-md-12" id="gauge"></div>
		</div>
	</div>
</div>
<script type="text/javascript" src="${base}/resources/asset/js/echarts.js"></script>
<script type="text/javascript">
<!--
	$(function() {
		var line = echarts.init($('#bar-chart')[0]);
		gauge = echarts.init($('#gauge')[0]);
		showEcharts();
		setInterval(function() {
			showEcharts()
		}, 2000);
		function showEcharts() {
			$.post('${base}/dashboard', {}, function(result) {
				var option = {
					title : {
						text : '',
					},
					tooltip : {
						trigger : 'axis'
					},
					legend : {
						data : [ 'CPU', 'JVM', 'RAM', 'SWAP', 'NETWORK IN', 'NETWORK OUT' ]
					},
					toolbox : {
						show : true,
						feature : {
							restore : {},
							saveAsImage : {}
						}
					},
					dataZoom : {
						show : false,
						start : 0,
						end : 100
					},
					xAxis : [ {
						type : 'category',
						boundaryGap : true,
						data : result.data.timePoints
					} ],
					yAxis : [ {
						type : 'value',
						scale : true,
						name : '百分比',
						max : 100,
						min : 0,
						boundaryGap : [ 0.2, 0.2 ]
					}, {
						type : 'value',
						scale : true,
						max : 5000,
						min : 0,
						name : ' k/s',
						boundaryGap : [ 0.2, 0.2 ]
					} ],
					series : [ {
						name : 'CPU',
						type : 'line',
						smooth : true,
						data : result.data.cpuUsages
					}, {
						name : 'JVM',
						type : 'line',
						smooth : true,
						data : result.data.jvmUsages
					}, {
						name : 'RAM',
						type : 'line',
						smooth : true,
						data : result.data.ramUsages
					}, {
						name : 'SWAP',
						type : 'line',
						smooth : true,
						yAxisIndex : 0,
						data : result.data.swapUsages
					}, {
						name : 'NETWORK IN',
						type : 'line',
						smooth : true,
						yAxisIndex : 1,
						data : result.data.niUsages
					}, {
						name : 'NETWORK OUT',
						type : 'line',
						smooth : true,
						yAxisIndex : 1,
						data : result.data.noUsages
					} ]
				};
				if (option && typeof option === "object") {
					line.setOption(option, true);
				}

				gaugeOption = {
					tooltip : {
						formatter : "{a} <br/>{c} {b}"
					},
					toolbox : {
						show : true,
						feature : {
							restore : {
								show : true
							},
							saveAsImage : {
								show : true
							}
						}
					},
					series : [ {
						name : 'CPU',
						type : 'gauge',
						z : 3,
						min : 0,
						max : 100,
						splitNumber : 10,
						radius : '50%',
						axisLine : { // 坐标轴线
							lineStyle : { // 属性lineStyle控制线条样式
								width : 10
							}
						},
						axisTick : { // 坐标轴小标记
							length : 15, // 属性length控制线长
							lineStyle : { // 属性lineStyle控制线条样式
								color : 'auto'
							}
						},
						splitLine : { // 分隔线
							length : 20, // 属性length控制线长
							lineStyle : { // 属性lineStyle（详见lineStyle）控制线条样式
								color : 'auto'
							}
						},
						title : {
							textStyle : { // 其余属性默认使用全局文本样式，详见TEXTSTYLE
								fontWeight : 'bolder',
								fontSize : 20,
								fontStyle : 'italic'
							}
						},
						detail : {
							textStyle : { // 其余属性默认使用全局文本样式，详见TEXTSTYLE
								fontWeight : 'bolder'
							}
						},
						data : [ {
							value : result.data.cpuUsages[result.data.cpuUsages.length - 1],
							name : 'CPU'
						} ]
					}, {
						name : 'NETWORK',
						type : 'gauge',
						center : [ '15%', '55%' ], // 默认全局居中
						radius : '50%',
						min : 0,
						max : 5000,
						endAngle : 0,
						splitNumber : 5,
						axisLine : { // 坐标轴线
							lineStyle : { // 属性lineStyle控制线条样式
								width : 8
							}
						},
						axisTick : { // 坐标轴小标记
							length : 12, // 属性length控制线长
							lineStyle : { // 属性lineStyle控制线条样式
								color : 'auto'
							}
						},
						splitLine : { // 分隔线
							length : 20, // 属性length控制线长
							lineStyle : { // 属性lineStyle（详见lineStyle）控制线条样式
								color : 'auto'
							}
						},
						pointer : {
							width : 5
						},
						title : {
							offsetCenter : [ '0', '0' ], // x, y，单位px
						},
						detail : {
							textStyle : { // 其余属性默认使用全局文本样式，详见TEXTSTYLE
								fontWeight : 'bolder'
							}
						},
						data : [ {
							value : result.data.niUsages[result.data.niUsages.length - 1],
							name : 'NI'
						} ]
					}, {
						name : 'JVM',
						type : 'gauge',
						center : [ '85%', '50%' ], // 默认全局居中
						radius : '50%',
						min : 0,
						max : 100,
						startAngle : 135,
						endAngle : 45,
						splitNumber : 10,
						axisLine : { // 坐标轴线
							lineStyle : { // 属性lineStyle控制线条样式
								width : 8
							}
						},
						axisTick : { // 坐标轴小标记
							splitNumber : 5,
							length : 10, // 属性length控制线长
							lineStyle : { // 属性lineStyle控制线条样式
								color : 'auto'
							}
						},
						axisLabel : {
							formatter : function(v) {
								switch (v + '') {
								case '0':
									return 'L';
								case '80':
									return 'W';
								case '100':
									return 'H';
								}
							}
						},
						splitLine : { // 分隔线
							length : 15, // 属性length控制线长
							lineStyle : { // 属性lineStyle（详见lineStyle）控制线条样式
								color : 'auto'
							}
						},
						pointer : {
							width : 2
						},
						title : {
							show : false
						},
						detail : {
							show : false
						},
						data : [ {
							value : result.data.jvmUsages[result.data.jvmUsages.length - 1],
							name : 'JVM'
						} ]
					}, {
						name : 'RAM',
						type : 'gauge',
						center : [ '85%', '50%' ], // 默认全局居中
						radius : '50%',
						min : 0,
						max : 100,
						startAngle : 315,
						endAngle : 225,
						splitNumber : 10,
						axisLine : { // 坐标轴线
							lineStyle : { // 属性lineStyle控制线条样式
								width : 8
							}
						},
						axisTick : { // 坐标轴小标记
							show : false
						},
						axisLabel : {
							formatter : function(v) {
								switch (v + '') {
								case '0':
									return 'L';
								case '80':
									return 'W';
								case '100':
									return 'H';
								}
							}
						},
						splitLine : { // 分隔线
							length : 15, // 属性length控制线长
							lineStyle : { // 属性lineStyle（详见lineStyle）控制线条样式
								color : 'auto'
							}
						},
						pointer : {
							width : 2
						},
						title : {
							show : false
						},
						detail : {
							show : false
						},
						data : [ {
							value : result.data.ramUsages[result.data.ramUsages.length - 1],
							name : 'RAM'
						} ]
					} ]
				};
				gauge.setOption(gaugeOption);
			}, 'json')
		}
	})
//-->
</script>
<!--# } #-->