<!DOCTYPE html>
<html lang="zh-CN">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>

<body>
	欢迎注册监控中心,你的账号已创建,请<a href="${url}">点击激活你的账号</a>!<br>
	如果无法打开链接,请复制一下链接进行激活:<br>
	${url}
</body>

</html>