<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>${obj.title!} -- ${global("name")}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="${base}/resources/images/LOGO.png" rel="shortcut icon">

<link href="${base}/resources/front/css/bootstrap.min.css" rel="stylesheet" />
<link href="${base}/resources/front/css/bootstrap-responsive.min.css" rel="stylesheet" />

<link href="${base}/resources/front/css/font-awesome.css" rel="stylesheet" />

<link href="${base}/resources/front/css/adminia.css" rel="stylesheet" />
<link href="${base}/resources/front/css/adminia-responsive.css" rel="stylesheet" />

<link href="${base}/resources/front/css/pages/dashboard.css" rel="stylesheet" />

<script src="${base}/resources/front/js/jquery-1.7.2.min.js"></script>

<script src="${base}/resources/front/js/bootstrap.js"></script>


<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>

	<div class="navbar navbar-fixed-top">

		<div class="navbar-inner">

			<div class="container">

				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</a> <a class="brand" href="./">${global("name")}</a>

				<div class="nav-collapse">

					<ul class="nav pull-right">
					</ul>

				</div>
				<!-- /nav-collapse -->

			</div>
			<!-- /container -->

		</div>
		<!-- /navbar-inner -->

	</div>
	<!-- /navbar -->




	<div id="content">

		<div class="container">

			<div class="row">

				<div class="span3">

					<div class="account-container">
						<!--# if(loginUser()!=null){  #-->
						<div class="account-avatar">
							<img src="${base}/resources/front/img/headshot.png" alt="" class="thumbnail" />
						</div>
						<!-- /account-avatar -->

						<div class="account-details">

							<span class="account-name">Rod Howard</span> <span class="account-role">Administrator</span> <span class="account-actions"> <a href="javascript:;">Profile</a> | <a
								href="javascript:;">Edit Settings</a>
							</span>
							<!-- /account-details -->
						</div>
						<!--# }else{ #-->
						<div class="account-avatar">你还没有登录</div>
						<div class="account-details">
							<a href="#">注册</a> | <a href="#">登录</a>
						</div>
						<!--# } #-->



					</div>
					<!-- /account-container -->

					<hr />

					<ul id="main-nav" class="nav nav-tabs nav-stacked">

						<li class="active"><a href="./"> <i class="icon-home"></i> 首页
						</a></li>

						<li><a href="./faq.html"> <i class="icon-pushpin"></i> 团队
						</a></li>

						<li><a href="./plans.html"> <i class="icon-th-list"></i> 资源
						</a></li>

						<li><a href="./grid.html"> <i class="icon-th-large"></i> 告警 <span class="label label-warning pull-right">5</span>
						</a></li>

						<li><a href="./charts.html"> <i class="icon-signal"></i> 日志
						</a></li>

						<li><a href="./account.html"> <i class="icon-user"></i> 关于
						</a></li>


					</ul>

					<hr />

					<div class="sidebar-extra">
						<p>QQ:19754300</p>
						<p>Email:kerbores@zhcs.club</p>
						<p>Phone:18996359755</p>
					</div>
					<!-- .sidebar-extra -->

					<br />

				</div>
				<!-- /span3 -->



				<div class="span9">${layoutContent}</div>
				<!-- /span9 -->


			</div>
			<!-- /row -->

		</div>
		<!-- /container -->

	</div>
	<!-- /content -->


	<div id="footer">

		<div class="container">
			<hr />
			<p>${global("copyright")}</p>
		</div>
		<!-- /container -->

	</div>
	<!-- /footer -->

</body>
</html>
