<!DOCTYPE html>
<html lang="zh-CN">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Monitor</title>
<link href="${base}/resources/images/LOGO.png" rel="shortcut icon">
<link rel="stylesheet" href="${base}/resources/asset/css/vendor/bootstrap/css/bootstrap.min.css" />

<link rel="stylesheet" href="${base}/resources/asset/css/flat-ui.min.css" />
<link rel="stylesheet" href="${base}/resources/asset/css/font-awesome.css" />
<link rel="stylesheet" href="${base}/resources/asset/css/style.css" />
<script type="text/javascript">
	var contextPath = '${base}';
</script>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<nav class="navbar navbar-inverse navbar-embossed navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-03">
				<span class="sr-only">Toggle navigation</span>
			</button>
			<a class="navbar-brand" href="#">监控控制台</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar-collapse-03">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i
						class="glyphicon glyphicon-qrcode"></i></a>
					<ul class="dropdown-menu">
						<li><a href="#"> <img alt="" src="${base}/resources/asset/img/qrcode.png">
						</a></li>
					</ul></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i
						class="glyphicon glyphicon-plus"></i></a>
					<ul class="dropdown-menu">
						<li><a href="#"> <i class="fa fa-plus"></i> 应用服务器
						</a></li>
						<li><a href="#"> <i class="fa fa-plus"></i> 数据库服务器
						</a></li>
						<li><a href="#"> <i class="fa fa-plus"></i> Ftp服务器
						</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#"> <i class="fa fa-plus"></i> 新建团队
						</a></li>
						<li role="separator" class="divider"></li>
					</ul></li>
				<li><a href="#"><i class="glyphicon glyphicon-envelope"></i></a></li>
				<li><a href="#"><i class="glyphicon glyphicon-list-alt"></i></a></li>
				<!--# if(loginUser() != null){  #-->
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img alt="Monitor"
						class="img-circle " width="20" src="${base}/resources/asset/img/head.jpg"> <span class="caret"></span> </a>
					<ul class="dropdown-menu">
						<li role="separator" class="divider"></li>
						<li><a href="#"><i class="fa fa-arrow-up"></i> 神一样的运维</a></li>
						<li><a href="#"><i class="fa fa-arrow-up"></i> 神一样的监控</a></li>
						<li><a href="#"><i class="fa fa-arrow-up"></i> 神一样的开发</a></li>
						<li><a href="#"><i class="fa fa-arrow-down"></i> 猪一样的产品</a></li>
						<li><a href="#"><i class="fa fa-arrow-down"></i> 猪一样的运营</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#"><i class="fa fa-cog"></i> 个人设置</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#"><i class="fa fa-sign-out"></i> 退出登录</a></li>
					</ul></li>
				<!--# }else{ #-->
				<li><a href="${base}/register">注册 </a></li>
				<li><a>|</a></li>
				<li><a href="${base}/login">登录</a></li>
				<!--#  }#-->
				<li><a href="#">&nbsp</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</nav>

	<div class="container-fluid">
		<div class="row">${layoutContent}</div>
	</div>
	<script src="${base}/resources/layer/layer.js"></script>
	<script src="${base}/resources/layer/extend/layer.ext.js"></script>
	<script src="${base}/resources/js/common/common.js"></script>
	<script src="${base}/resources/js/common/validation.js"></script>
	<script type="text/javascript" src="${base}/resources/asset/js/flat-ui.min.js"></script>
</body>
</html>