body{
	width: 99.5%;
	padding-left: 0.25%
}
.navbar {
    margin-bottom: 0;
}

.list-group-item {
    border-left: none;
    border-right: none;
}

.list-group {
    border-radius: 0;
}

.center {
    text-align: center;
}

.side-nav{
	padding: 0
}
 